
body {
	padding-top: 30px;
	background: url("../images/keyarena.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: verdana, sans-serif;
  
}

.titlediv {
	margin: 10px 0;	
	padding: 20px 10px;
	background: rgba(248, 223, 77, 1);  /*#F8DF4D*/
	color: #000;
	border-radius: 12px;
	/*-webkit-text-stroke: 1px black;*/

}
.titlediv span {
	line-height: 1.7rem;
	font-size: 1.2rem;
	text-align: justify;
	/*font-weight: bold;*/
}

.frame {
	display: table;
	width: 100%;
	margin: 10px 0;
	padding: 20px;
	/*height: 600px;*/
	background: rgba(0, 0, 0, 0.6);
	/*border: 5px solid #296037;*/
	border: 5px solid #f5f5f5;
  border-radius: 12px;
}

.frametop {
	padding: 10px 0;
	font-size: 1rem;
}

.frametop div[class*='col-'] {
	float: left;
}

.frameinner {
	margin: 30px auto;
	width: 50%;
	position: relative;
	padding: 20px 10px;
	min-height: 80px;
	background: white;
	text-align: center;
	border: 2px solid black;
	font-weight: bold;
}
#timeremaining {
	font-size: 1.2rem;
	font-weight: bold;
	color: #296037;
}
.finalresults {
	font-size: 1.2rem;
}
.framemiddle {
	position: relative;
	margin: 20px auto;
	padding: 30px;
	width: 100%;
	background: white;
	text-align: center;
	border: 2px solid black;
	font-weight: bold;
	font-size: 1.5rem;
}
#introimage {
	/*position: relative;*/
}
.clickme {
	position: relative;
  font-size: 1.7rem;
  font-weight: bold;
  color: #fff;
}
.restart {
	width: 240px;
	margin: 0 auto;
	padding: 20px;
	background: darkgray;
	color: #fff;
	font-weight: bold;
	font-size: 1.2em;
	border: 2px solid white;
}
.restart:hover {background-color: #808080}

.restart:active {
  background-color: #808080;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}
.framebottom .row {
	margin-left: 10px;
	margin-right: 10px;
}
.framebottom div[class*='col-'] {
	display: table;
}
/* Vertically centering text in buttons*/
.Centered
{
    vertical-align: middle;
    /*display: inline-block;*/
}

.Centerer
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


/*Button Effect*/
.button {
	/*display: table-cell;*/
  padding: 20px 0px;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-family: Arial, sans-serif;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #296037;
  /*border: 1px solid black;*/
  border-radius: 16px;
  box-shadow: 0 4px #a0a0a0;
}

.button:hover {background-color: #073513}

.button:active {
  background-color: #073513;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}

/* Media Queries */
	/* xs */
		.button {
		    margin: 20px auto;
		    max-width: 70%;
		}
		.framemiddle {
			 width: 70%;
		}
		.frameinner {
			width: 200px;
			min-height: 120px;
		}
	/* sm */
	@media (min-width: 768px) {
	    .frameinner {
    	 /* display: block;*/
        width: 200px;
        margin: 20px auto;
      }
      .titlediv {
	        width: 100%;
	        margin: 20px auto;
	    }
	    .frame {
	        width: 100%;
	        margin: 20px auto;
	    }
	    .framemiddle {
	    	width: 70%;
	    }
	}
	/* md */
	@media (min-width: 992px) {
	    .col-lg-5 {
	    	padding: 0;
	    }
	    .button {
	        max-width: 100%;
	    }
	    .frameinner {
		  	width: 100%;
		  	
		  }
		  .framemiddle {
	    	width: 100%;
	    }
	}
	/* lg */
	@media (min-width: 1200px) {
	    .frame {
	        width: 100%;
	        margin: 20px auto;
	    }.frameinner {

	        width: 80%;
	        
	    }
	    .titlediv {
	        width: 100%;
	        margin: 20px auto;
	    }
	    .framemiddle {
	        width: 100%;
	        margin: 20px auto;
	    }
	}
	